WORKOS_API_KEY=sk_test_replace
WORKOS_CLIENT_ID=client_replace
WORKOS_COOKIE_PASSWORD=replace-with-32-char-min-secret
WORKOS_REDIRECT_URI=http://localhost:3012/callback
DUMMYOAUTH_ISSUER=http://localhost:3000/p/demo
OAUTH_CLIENT_ID=demo
OAUTH_CLIENT_SECRET=demo
