NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_OIDC_PROVIDER_ID=oidc.dummyoauth
DUMMYOAUTH_ISSUER=http://localhost:3000/p/demo
OAUTH_CLIENT_ID=demo
OAUTH_CLIENT_SECRET=demo
